<html>
  <head>
    <!-- Iconmonstr -->
    <link href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" rel="stylesheet">
    <!-- Google icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  </head>
  <body>
    <!-- Bootstrap Icons -->
      <i class="bi bi-whatsapp"></i> <!--   Whatsapp -->
      <i class="bi bi-instagram"></i> <!-- instagram -->
      <i class="bi bi-twitter"></i> <!-- twitter -->
      <i class="bi bi-search"></i> <!-- pesquisa -->
      <i class="bi bi-person-circle"></i> <!-- perfil -->
      <i class="bi bi-person-fill"></i> <!-- perfil -->
      <i class="bi bi-bookmark"></i> <!-- insp on -->
      <i class="bi bi-bookmark-fill"></i> <!-- insp off -->
      <i class="bi bi-star"></i> <!-- save on -->
      <i class="bi bi-star-fill"></i> <!-- save off -->
      <i class="bi bi-telephone"></i> <!-- tel -->
      <i class="bi bi-envelope-fill"></i> <!-- email -->
      <i class="bi bi-trash"></i> <!-- excluir -->
      <i class="bi bi-pencil-square"></i> <!-- editar -->
      <i class="bi bi-link-45deg"></i> <!-- link -->
      <i class="bi bi-plus-circle"></i> <!-- add -->
      <i class="bi bi-plus-circle-fill"></i> <!-- add -->
      <i class="bi bi-columns-gap"></i> <!-- galeria -->
      <i class="bi bi-grid-3x3-gap"></i> <!-- galeria -->
      <i class="bi bi-grid-fill"></i> <!-- galeria -->
      <i class="bi bi-card-text"></i> <!-- sobre -->
      <i class="bi bi-check-circle-fill"></i> <!-- sucesso -->
      <i class="bi bi-check-circle"></i> <!-- sucesso -->
      <i class="bi bi-exclamation-circle-fill"></i> <!-- aviso -->
      <i class="bi bi-exclamation-circle"></i> <!-- aviso -->
      <i class="bi bi-x-circle"></i> <!-- erro -->
      <i class="bi bi-x-circle-fill"></i> <!-- erro -->
    <!--  -->
    <br>
    <br>
    <!-- Iconmonstr ref:https://iconmonstr.com/iconicfont/ -->
      <i class="im im-whatsapp"></i> <!--   Whatsapp -->
      <i class="im im-instagram"></i> <!-- instagram -->
      <i class="im im-twitter"></i> <!-- twitter -->
    <!---->
    <br>
    <br>
    <!-- Google icon -ref:https://fonts.google.com/icons -->
      <span class="material-icons"> search </span> <!-- pesquisa -->
      <span class="material-icons"> account_circle </span> <!-- perfil -->
      <span class="material-icons"> bookmark </span> <!-- insp on -->
      <span class="material-icons"> bookmark_border </span> <!-- insp of -->
      <span class="material-icons"> star </span> <!-- save on -->
      <span class="material-icons"> star_border </span> <!-- save of -->
      <span class="material-icons"> call </span> <!-- tel -->
      <span class="material-icons"> email </span> <!-- mail -->
      <span class="material-icons"> delete </span> <!-- excluir -->
      <span class="material-icons"> edit </span> <!-- editar -->
      <span class="material-icons"> link </span> <!-- link -->
      <span class="material-icons"> add_circle </span> <!-- adicionar proj -->
      <span class="material-icons"> add_circle_outline </span> <!-- adicionar proj -->
      <span class="material-icons"> dashboard </span> <!-- galeria -->
      <span class="material-icons"> article </span> <!-- sobre -->
      <span class="material-icons"> cancel </span> <!-- erro -->
      <span class="material-icons"> error </span> <!-- aviso -->
      <span class="material-icons"> check_circle </span> <!-- sucesso -->
    <!---->
  </body>
</html>